<% include partials/header %>

<!--<% include ./partials/header %>-->
<!--./ means current directory-->


<h1>Come to login!!</h1>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<% include partials/footer %>